In [ ]:
#필기 하기

a=5
print(a)

5

In [ ]:
a=3
b=5

In [ ]:
a+b

8

In [ ]:
3.14E10 #10의 10승 곱

31400000000.0

In [ ]:
#문자열 자료형

a= 'hello world'
b= "hello"
c= """hello"""

In [ ]:
a= 'python is too fun'
a

'python is too fun'

In [ ]:
#print len: 내장 함수
#문자열에서만 사용할 수 있는 문자열 전용 함수
#문자열.함수이름()

"I eat {} apples".format(3) #중괄호 안에 넣어주는 함수 >> format

'I eat 3 apples'

In [ ]:
"I eat {} apples and {} oranges".format(3, 5)

'I eat 3 apples and 5 oranges'

In [ ]:
"I eat {0} apples and {0} oranges".format(3, 5)

'I eat 3 apples and 3 oranges'

In [ ]:
"I eat {1} apples and {1} oranges".format(3, 5)

'I eat 5 apples and 5 oranges'

In [ ]:
num = 3.141592
"{:.2f}".format(num)

'3.14'

In [ ]:
text = "hi"
'{:<10}'.format(text) #10개 공간에 왼쪽 정렬< //오른쪽 정렬> //가운데 정렬^

'hi        '

In [ ]:
'{:=<10}'.format(text)#빈공간에 = 채움

'hi========'

In [ ]:
name = '홍길동'
age = 30

"나의 이름은 {}살, {}살 입니다.".format(name, age)

'나의 이름은 홍길동살, 30살 입니다.'

In [ ]:
f"나의 이름은 {name}살, {age}살 입니다." #요즘 유행

'나의 이름은 홍길동살, 30살 입니다.'

In [ ]:
a= 'python is too fun'

In [ ]:
a.count('o')

3

In [ ]:
a.find("o") #처음꺼 위치만

4

In [ ]:
",".join("abcde")

'a,b,c,d,e'

In [ ]:
"@".join(['a','b','c'])

'a@b@c'

In [ ]:
a.upper(
)

'PYTHON IS TOO FUN'

In [ ]:
a.capitalize()

'Python is too fun'

In [ ]:
b='       hello     '

In [ ]:
b.lstrip() #왼쪽 공백 없애기

'hello     '

In [ ]:
b.strip() #전체 공백 없애기

'hello'

In [ ]:
a.replace("python", "java")

'java is too fun'

In [ ]:
a

'python is too fun'

In [ ]:
a.split()

['python', 'is', 'too', 'fun']

In [ ]:
c= "python:is:too:fun"

In [ ]:
a= [1,2,3,[4,5]] #숫자 5만 출력해보기
len(a)

4

In [ ]:
a[3]

[4, 5]

In [ ]:
a[3][1]

5

In [ ]:
a=[1,2,3]
b=[4,5,6]

a

[1, 2, 3]

In [ ]:
a+b

[1, 2, 3, 4, 5, 6]

In [ ]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a #[1, 10, 3]으로 바꾸기
a[1] =10

In [ ]:
a

[1, 10, 3]

In [ ]:
del a[1]
a

[1, 3]

In [ ]:
a = [1,2,3,4,5,6,7,8]
del a[2:]
a

[1, 2]

In [ ]:
a.append(5)

In [ ]:
a

[1, 2, 5]

In [ ]:
a.append(7)

In [ ]:
a.insert(0, 10)
a

[10, 1, 2, 5, 7]

In [ ]:
a=[1,3,7,5,4,2]
a.sort(reverse =True)
a

[7, 5, 4, 3, 2, 1]

In [ ]:
box= ['banana', 'car','apple']
box.sort()
box

['apple', 'banana', 'car']

In [ ]:
box.append([3,4])
box

['apple', 'banana', 'car', [3, 4]]

In [ ]:
a=[1,3,5,4,2]
   a.reverse()
   a

IndentationError: ignored

In [ ]:
a.index(1)

5

In [ ]:
a.remove(5) #첫 5만 삭제
a

[7, 4, 3, 2, 1]

In [ ]:
box = [1,2,5,4,2]
a= box.remove(2) #a는 None
box

[1, 5, 4, 2]

In [ ]:
a= box.pop() #맨 뒤에 값을 뽑음-> 손에 쥐고 있음
a

2

In [ ]:
box

[1, 5, 4]

In [ ]:
box.pop(0) #도 가능

1

In [ ]:
box

[5, 4]

In [ ]:
box.count(4)

1

In [ ]:
a=[1,2,3]
b=[4,5,6]
a.extend(b) #비추천
a

a= a+b #추천 a+=b
a

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [ ]:
#튜플 자료형 :리스트랑 거의 똑같다
#데이터를 보관하는 기능
#튜플은 한번 정하면 절대 삭제하거나, 수정할 수가 없다.
#알파고 바둑놓는 좌표때만 씀 ㅋㅋㅋㅋ

a = (1,3,5,4,2)
a+a

(1, 3, 5, 4, 2, 1, 3, 5, 4, 2)

In [ ]:
a= 3, 5
a #조심하자

(3, 5)

In [ ]:
a =[5]
a

[5]

In [ ]:
a = (3) #하나의 값은 튜플로 취급 안함
a
a=(3,) #이렇게는 가능
a

(3,)

In [ ]:
a[0]

3

In [ ]:
a= (1,3,5,4,2)
a = list(a) #이러면 수정 가능 이제 리스트니까
a[1] =10
a= tuple(a)
a

(1, 10, 5, 4, 2)

In [ ]:
#딕셔너리 : 사전 
#school : 학교

dic = {"이름" : "홍길동","사는곳":'수원', "성별" : '남자', "나이" : 30, "이메일" : 'djWjssssfn@naver.com'},

In [ ]:
dic

({'이름': '홍길동',
  '사는곳': '수원',
  '성별': '남자',
  '나이': 30,
  '이메일': 'djWjssssfn@naver.com'},)

In [ ]:
#딕셔너리는 무조건 키 값 기준
dic["이름"]

TypeError: ignored

In [ ]:
"이름" in dic

False

In [ ]:
len(dic)

1

In [ ]:
#del dic["이름"]

In [ ]:
dic.keys()

AttributeError: ignored

In [ ]:
list(dic.keys())

AttributeError: ignored

In [ ]:
dic.values()
dic.items()

AttributeError: ignored

In [ ]:
#집합
#1. 중복된 값을 허용하지 않는다.
#2. 순서가 없다.

a= set([1,2,3,1,1,1])
a

{1, 2, 3}

In [ ]:
a= set("hello world!")
a

{' ', '!', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [ ]:
#값을 하나면 전달해야하니까 숫자는 리스트, 문자는 그냥 문자열로 한겨

In [ ]:
a = set([1,2,3,4,5,6])
b= set([4,5,6,7,8,9])

a&b #교집합

{4, 5, 6}

In [ ]:
a|b #합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
a-b #차집합

{1, 2, 3}

In [ ]:
a.add(7)
a

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a.update([8,9,10])

In [ ]:
#한번에 여러게 할때 업데이트
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
a.remove(10)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
a, b =3, 5
(a, b) = 3,5
a= b= 'python'

In [ ]:
a =3
b=5

a, b= b,a #자리 바꾸기 이건 파이썬에서만 가능
print(a, b)

5 3

In [ ]:
3.5 +3 #도 파이선에서만 가능

6.5

In [ ]:
a, b =3, 5

a= 3,5 #튜플로 들어감

a,b,c = 1, 3, 5, 4, 2 #가능?

ValueError: ignored

In [ ]:
a,b,*c = 1, 3, 5, 4, 2 #가능? *이 나머지 느낌
print(a, b, c)

1 3 [5, 4, 2]

In [ ]:
n =5 #'수박수박수'

a ='수박'

'{}{}'*n/2.format( a[0], a[1])

SyntaxError: ignored

In [ ]:
"수박" * (n//2) + "수"*(n%2)

'수박수박수'

In [ ]:
t = '수박' * n
t[:n]

'수박수박수'

In [ ]:
a = (1,2,3) #(4, 3, 2, 1)
a= list(a)
a.append(4)

In [ ]:
a= a.reverse

In [ ]:
a= tuple(a)

TypeError: ignored

In [ ]:
a

In [ ]:
a= [1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,4,4,5,5,5,5] #[5,4,3,2,1]
a= set(a)

In [ ]:
a

{1, 2, 3, 4, 5}

In [ ]:
a= list(a)
a

[1, 2, 3, 4, 5]

In [ ]:
a= a.reverse

In [ ]:
a

In [ ]:
print(a)

<built-in method reverse of list object at 0x7f6eaaafc230>

In [ ]:
a.reverse()

AttributeError: ignored

In [ ]:
#조건문

money = True
if money == True:
    print('taxi')

taxi

In [ ]:
money = 3000

if money >=3000:
    print('taxi')
else:
    print('walk')

taxi

In [ ]:
pocket = ['paper', 'cellphone', 'money']
card = True
 #elif문 여러개 사용 가능
 
if 'money' in pocket:
    print("taxi")
elif card == True:
    print('taxi')
else:
    print("walk")

taxi

In [ ]:
n = int(input("값을 입력해주세요: ")) #무조건 문자로 들어감
n

값을 입력해주세요: 5

5

In [ ]:
n = int(input("값을 입력해주세요: "))
if n >= 80:
    print("A")
elif n >=70: # 80아래인거 안써도 됌. 위로부터 아래로 ㅎ당되는거 바로 출력 끝
    print("B")
elif n >= 60:
    print("C")
else:
    print("F")

값을 입력해주세요: 71
B

In [ ]:
score =100
message = "합격" if score >= 60 else "불합격" #독특한 if문, 이 친구는 else문 필수
message

'합격'

In [ ]:
#반복문
# while - 조건이 참인동안 반복 -> 몇번 반복해야하는지 정확히 모를때 주로
#for 문-내가 요청한 만큼 순서대로 반복

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print("{} X {} = {}".format(i, j, i*j)) #print 함수가 줄 바꿈 자동
    print(" ")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for i in range(5,0, -1): #5부터 0전까지 -1 증가
    print("*"*i)

*****
****
***
**
*

In [ ]:
for i in range(1, 6):
    print("*"*(6-i))

*****
****
***
**
*

In [ ]:
box =[] # 1, 2, 3, 4, 5 넣기
for i in range(1, 6):
    box.append(i)
box

[1, 2, 3, 4, 5]

In [ ]:
#리스트 내포// 그냥 이런 것도 있다

box = [i for i in range(1,11) if i %2 ==0] #넣고 싶은거 for문 앞에 쓰기
box

box = [i*j for i in range(1,11) for j in range(1, 10) if i %2 ==0] #넣고 싶은거 for문 앞에 쓰기

[2, 4, 6, 8, 10]

In [ ]:
#함수
#def 함수명(재료(매개변수)):

def add(n1, n2):
    return n1+n2

In [ ]:
a = add(3, 5)
a

8

In [ ]:
def tri(a, b):
    c= (a**2 + b**2)**(1/2)
    return c

In [ ]:
d= tri(3, 4)
d

5.0

In [ ]:
def add(n1, n2):
    print(n1 +n2)

In [ ]:
add(3, 5)

8

In [ ]:
a = add(3,5)

8

In [ ]:
a

In [ ]:
def intro(name, age, sex =5): # 이름 나이는 꼭 넣어주고 성별은 디폴트 값   
    print("내 이름은 {}이고, {}살입니다.".format(name, age))
    if sex == 5:
        print("나는 남자입니다")
    else:
        print("나는 여자입니다.")

In [ ]:
print("hello", end=' -> ') #뒤에 기본값으로 enter가 가지고 있는겨.
print("python", "is", "too", "fun", sep = "->") #얘도 기본값이 띄어쓰기인겨

hello -> python->is->too->fun

In [ ]:
def test(b, *a):
    print(b, a)

In [ ]:
test(1,3 ,2,3,4,5,5)

1 (3, 2, 3, 4, 5, 5)

In [ ]:
def test(**a):
    print(a)

In [ ]:
#*묵ㄱ는 것 (리스트, 튜플)
#** 딕셔너리

test(name = '홍길동', age = 30)

{'name': '홍길동', 'age': 30}

In [ ]:
def test(): #함수 안에서 사용된 변수는 함수 안에서만 영향을 미침. a 공간에 0// 함수의 a 공간에 5 // a 공간 출력 하니까 0 출력
    a =5 #지역변수

a= 0 #전역 변수
test()
a

0

In [ ]:
def test(): #함수 안에서 사용된 변수는 함수 안에서만 영향을 미침. a 공간에 0// 함수의 a 공간에 5 // a 공간 출력 하니까 0 출력
    a =5 #지역변수
    return a

a= 0 #전역 변수
a= test()
a

5

In [ ]:
def test(): 
    #a가 전역변수라는 것을 명시해주기
    global a
    a =5 #전역변수

a= 0 #전역 변수
test()
a

5

In [ ]:
#특정한 상황일 때 함수를 끝내고 싶다면?

In [ ]:
def fac(n):
    a=1
    if n==1:
        return 1
    else:
        return n*fac(n-1)

In [ ]:
t= fac(5)
t

120

In [ ]:
#예외처리 : 에러 발생시 에러를 무시하는 기술
# 내 코드에 문제가 없을 때

# 이화여대 맛집
try:
    print('hello')
    5/0
    print('bye')
except:
    pass #뭐라도 적어야할 때

hello

In [ ]:
#일부러 에러를 발생 시키는 방법

raise ZeroDivisionError

ZeroDivisionError: ignored

In [ ]:
#파일 만들기

f = open("test.txt", 'wt') #write text 마치 f가 메모장, 아예 새로 써짐// at 가 이어서 써짐

for i in range(1, 11):
    f.write("{}번째 줄입니다. \n".format(i))

f.close() #저장하고 끄는 역할

In [ ]:
f = open("test.txt", 'rt') #read text

my_text = f.read()
f.close()

my_text.split('\n')

['1번째 줄입니다. ',
 '2번째 줄입니다. ',
 '3번째 줄입니다. ',
 '4번째 줄입니다. ',
 '5번째 줄입니다. ',
 '6번째 줄입니다. ',
 '7번째 줄입니다. ',
 '8번째 줄입니다. ',
 '9번째 줄입니다. ',
 '10번째 줄입니다. ',
 '']

In [ ]:
#내장함수